* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(25, 98, 206, 0.5), rgba(136, 157, 184, 0.5),rgba(11, 49, 218, 0.5));
}



.weather {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.current-day {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 50%;
    margin: 10px 0px 50px 0px;
    font-size: 20px;
}
.current-day__city {
    font-size: 46px;
    color: #fff;
}
.current-day__discription {
    font-size: 16px;
    color: rgb(163, 87, 87);
}

.current-day__temperature {
    font-size: 28px;
    color: rgb(221, 236, 4);
}

.current-day__month {
    color: rgb(74, 77, 43);
}

.center {
    margin-bottom: 15px;
}   
/* ----------------------------------------------------------- */
.another-day {
    display: flex;
    flex-wrap: wrap;
    width: 760px;
    /* border: 1px solid red; */
    margin-bottom: 20px;
}

/* .box-up {
    width: 200px;
    height: 80px;
    border: 1px solid black
}

.box-down {
    width: 140px;
    height: 80px;
    border: 1px solid black
} */

.box {
    display: flex;
    justify-content: space-between;
    margin: 1px;
    width: 250px;
    height: 80px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 0.5rem;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px
}

.rigth {
    margin: 10px;
}

.city-discribe {
    font-size: 40px;
    color: rgb(100, 102, 93);
    margin-bottom: 20px;
}

.city {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.search {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.city-name {
    display: block;
    width: 25%;
    height: 2.2rem;
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    color: rgb(51, 155, 155);
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #bdbdbd;
    border-radius: 0.25rem;
    margin-bottom: 30px;
}
/* ======================================================== */
.button {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding-right: 40px;
}
.button {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding-right: 40px;
  }
  .button:hover .button__border-circle {
    transform: translateX(60px);
  }
  .button:hover .button__mask-circle {
    -webkit-clip-path: circle(25px at 85px);
            clip-path: circle(25px at 85px);
  }
  
  .button__text {
    z-index: 1;
    font-size: 14px;
    margin-right: -18px;
    color: #FAFAFA;
    letter-spacing: 0.05em;
  }
  
  .button__wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .button__arrow {
    left: 35px;
    height: 3px;
    width: 50px;
    display: flex;
    position: absolute;
    align-items: center;
    background-color: #B3D23F;
  }
  .button__arrow:after {
    content: "";
    width: 0;
    height: 0;
    top: -5px;
    right: -7px;
    position: absolute;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #B3D23F;
  }
  
  .button__border-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #BFBFBF;
    transition: transform 987ms;
  }
  
  .button__mask-circle {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-clip-path: circle(25px);
            clip-path: circle(25px);
    transition: -webkit-clip-path 987ms;
    transition: clip-path 987ms;
    transition: clip-path 987ms, -webkit-clip-path 987ms;
  }
  
  .button__small-circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transform: translateX(60px);
    background-color: #B3D23F;
  }

  /* ============================================ */